.foot{
    position: fixed;
    background: rgba(64, 158, 255,0.6);
    bottom: 0px;
    left:0px;
    height: 40px;
    line-height: 40px;
    color:#fff;
    width:100%;
}
.el-button--text {
    border: none;
    background: 0 0;
    padding-left: 0;
    padding-right: 0;
    padding: 0;
    /* color:#409EFF; */
    /* color:#409EFF */
}